annotated-types==0.5.0
autocorrect==2.6.1
blinker==1.6.2
blis==0.7.10
catalogue==2.0.9
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
confection==0.1.3
contourpy==1.1.1
cycler==0.11.0
cymem==2.0.8
Flask==2.3.3
Flask-Cors==4.0.0
fonttools==4.42.1
fr-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-3.6.0/fr_core_news_sm-3.6.0-py3-none-any.whl#sha256=88ba4254539a7efb51d5e0c5b6c4ea5b350542752b634088274c1b97d8c8b8ee
idna==3.4
imageio==2.31.3
inexactsearch==1.0.2
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.3.2
kiwisolver==1.4.5
langcodes==3.3.0
lazy_loader==0.3
MarkupSafe==2.1.3
matplotlib==3.8.0
murmurhash==1.0.10
networkx==3.1
numpy==1.25.2
opencv-python-headless==4.8.0.76
packaging==23.1
pathy==0.10.2
pdf2image==1.16.3
Pillow==10.0.1
preshed==3.0.9
pydantic==2.3.0
pydantic_core==2.6.3
pyparsing==3.1.1
pytesseract==0.3.10
python-dateutil==2.8.2
PyWavelets==1.4.1
regex==2023.8.8
requests==2.31.0
scikit-image==0.21.0
scipy==1.11.2
silpa-common==0.3
six==1.16.0
smart-open==6.4.0
soundex==1.1.3
spacy==3.6.1
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.4.7
thinc==8.1.12
tifffile==2023.8.30
tqdm==4.66.1
typer==0.9.0
typing_extensions==4.7.1
urllib3==2.0.4
wasabi==1.1.2
Werkzeug==2.3.7
